*{
    margin: 0px;
    padding: 0px;
    bottom: auto;
    
}
.containair{
    position: relative;
    width: 100%;
    max-width: 800px;
    min-height: 1000px;
    background: rgb(242, 243, 243);
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 2fr;
    box-shadow: opx 35px 55px rgb(0, 0, 0, 0.1);
    
}
 .containair .left-side{
    position: relative;
    background-color:rgb(17, 153, 96);
    padding: 0px;
 }